## Exercise 3.03: Standardizing Customer Data

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [16]:
cols_to_scale = ['Age', 'Income', 'Spend_score']

In [17]:
data_scaled = data0.copy()

In [18]:
data_scaled[cols_to_scale] = scaler.fit_transform(data0[cols_to_scale])

In [19]:
data_scaled[cols_to_scale].describe()

                Age        Income   Spend_score
count  2.000000e+02  2.000000e+02  2.000000e+02
mean  -9.603429e-17 -6.128431e-16 -1.121325e-16
std    1.002509e+00  1.002509e+00  1.002509e+00
min   -1.496335e+00 -1.738999e+00 -1.910021e+00
25%   -7.248436e-01 -7.275093e-01 -5.997931e-01
50%   -2.045351e-01  3.587926e-02 -7.764312e-03
75%    7.284319e-01  6.656748e-01  8.851316e-01
max    2.235532e+00  2.917671e+00  1.894492e+00